# Base packages
cachetools==6.2.1
python-dotenv==1.2.1
fastapi==0.120.4
uvicorn[standard]
pydantic[email]

# Azure SDK Core
azure-core==1.36.0
requests==2.32.5
types-requests==2.32.4.20250913
aiohttp==3.13.2

# Azure Services
azure-identity==1.25.1
azure-search-documents==11.7.0b1
azure-ai-projects==1.1.0b4 # azure-ai-projects==1.1.0b2 --pre
# azure-ai-agents==1.2.0b1 --pre
azure-ai-inference==1.0.0b9
azure-cosmos==4.14.0

# Additional utilities
semantic-kernel[azure]==1.37.1
openai==2.6.1
pyodbc==5.3.0
pandas==2.3.3

opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-otlp-proto-grpc
azure-monitor-events-extension
opentelemetry-sdk==1.38.0
opentelemetry-api==1.38.0
opentelemetry-semantic-conventions==0.59b0
opentelemetry-instrumentation==0.59b0
azure-monitor-opentelemetry==1.8.1

# Development tools
pytest==8.4.2
pytest-cov==7.0.0
pytest-asyncio==1.2.0
